{% extends "base.html" %}

{% block content %}

<h1>MyBet {{current_user.username}}</h1>


<div style="padding: 16px; border: solid black 2px; border-radius: 2px;">
    <form method="POST" action="{{ url_for('my-bet.mybets_view') }}" role="form">
        {{ form.hidden_tag() }}

        {% for idx, bet_form in enumerate(form.bets) %}
        <div style="border: solid black 1px; padding: 16px; margin-bottom: 10px;">

            <input type="hidden" id="match_id_{{ idx }}" name="bets-{{ idx }}-match_id"
                value="{{ bet_form.match_id.data }}" class="form-control" readonly>

            <div>
                <label for="home_team_score_{{ idx }}">Home Score</label>
                <input type="number" id="home_team_score_{{ idx }}" name="bets-{{ idx }}-home_team_score"
                    value="{{ bet_form.home_team_score.data or 0 }}" class="form-control" required>
            </div>
            <div>
                <label for="away_team_score_{{ idx }}">Away Score</label>
                <input type="number" id="away_team_score_{{ idx }}" name="bets-{{ idx }}-away_team_score"
                    value="{{ bet_form.away_team_score.data or 0 }}" class="form-control" required>
            </div>
        </div>
        {% endfor %}
        {{ form.submit() }}

    </form>
</div>



{% endblock %}