{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">{{gamestage_name}}</h1>
    <form method="POST" action="{{ url_for('mygamestage.mygamestage_view') }}" role="form">
        {{ form.hidden_tag() }}
        <div class="row">
            {% for idx, bet_form in enumerate(form.bets) %}
            {% set home_team_name = match_by_id[bet_form.match_id.data]["home_team"]["name"] %}
            {% set away_team_name = match_by_id[bet_form.match_id.data]["away_team"]["name"] %}
            {% set kickoff = match_by_id[bet_form.match_id.data]["kickoff"] %}

            <div class="col-md-6 col-xl-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-header bg-dark text-white text-center">
                        <strong>{{ home_team_name }}</strong> vs <strong>{{ away_team_name }}</strong>
                        <div>
                            {{ kickoff.strftime('%d %b %Y, %H:%M') }}
                        </div>
                    </div>

                    <div class="card-body">
                        {{ bet_form.match_id() }}

                        <!-- Prediction Inputs -->
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <!-- Home Team -->
                            <div class="text-center">
                                {{ bet_form.home_team_score(
                                class="form-control mt-1",
                                min="0",
                                required="required")
                                }}
                            </div>

                            <!-- Separator -->
                            <div class="mx-3 fw-bold">-</div>

                            <!-- Away Team -->
                            <div class="text-center">
                                {{ bet_form.away_team_score(
                                class="form-control mt-1",
                                min="0",
                                required="required")
                                }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="text-center mt-4 mb-4">
            {{ form.submit(class="btn btn-primary btn-lg") }}
        </div>
    </form>
</div>
{% endblock %}