{% from "macros/match_score_badge.html" import match_score_badge %}
{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Points - {{username}}</h1>
    {% include "components/gamestage_pagination.html" %}

    <div class="row">
        {% for idx, match in enumerate(matches) %}
        {% set home_team_name = match["home_team"]["name"] %}
        {% set away_team_name = match["away_team"]["name"] %}
        {% set bet_home_score = match.bet.home_team_score if match.bet else none %}
        {% set bet_away_score = match.bet.away_team_score if match.bet else none %}

        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <!-- Header  -->
                <div class="card-header bg-dark text-white text-center py-3 h5">
                    <strong>{{ home_team_name }}</strong>
                    {{ match_score_badge(match.home_team_score, match.away_team_score) }}
                    <strong>{{ away_team_name }}</strong>
                </div>

                <!-- Match Details -->
                <div class="card-body h5">
                    <p class="text-center mb-2">
                        <strong>Your Prediction:</strong>
                        {{ match_score_badge(bet_home_score, bet_away_score) }}
                    </p>
                    <p class="text-center mb-0">
                        <strong>Points:</strong>
                        {% if match.bet %}
                        <span class="badge bg-success">{{ match.bet.points }}</span>
                        {% else %}
                        <span class="badge bg-danger">0</span>
                        {% endif %}
                    </p>
                </div>


            </div>


        </div>
        {% endfor %}

    </div>

</div>


{% endblock %}