{% from "macros/match_score_badge.html" import match_score_badge %}
{% from "macros/points_calculation_table.html" import points_calculation_table %}
{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Points - {{username}}</h1>
    {% include "components/gamestage_pagination.html" %}

    <div class="row">
        {% for idx, match in enumerate(matches) %}
        {% set bet = betDTO_by_match_id.get(match.id) %}

        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-dark text-white text-center py-3 h5">
                    <strong>{{match.home_team.name}}</strong>
                    {{ match_score_badge(match.home_team_score, match.away_team_score) }}
                    <strong>{{match.away_team.name}}</strong>
                </div>
                <div class="card-body h5">
                    <p class="text-center mb-2">
                        <strong>Your Prediction:</strong>
                        {{ match_score_badge(bet.home_team_score, bet.away_team_score) }}
                    </p>
                    {{points_calculation_table(bet.result_points, bet.score_points, bet.total_points)}}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>


{% endblock %}